div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dotted 0.1em black;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}



/* AQUI COMIENZA EL ESTILO GENERAL*/

body{
    background-color: lightgrey;
}

.central{
    position: relative;
    display: inline-block;
    text-align: center;
    float:left;
    width: 88%;
    margin: 0;
    margin-left: 1%;
}

ol li a{
    text-decoration: none;
    color: white;
}

.cuaderno{
    background-color:lightyellow ;
}

.central h2{
    background-color:lightcyan;
    border: 5px double darkblue;
    padding: 10px;
}

.areaLimpia{
    background-color: white;
    position: absolute;
    right: 20px;
    margin: 0;
    margin-top: 20px;
    border: 5px dashed darkblue;
    text-align: left
}

.areaLimpia ol li a{
    text-decoration: none;
    color: darkblue;
}

.tablaContenido{
    margin: 10px;
}

#objetivos , #problema{

    margin: 20px;
    color: darkblue;
    text-align: left;
    border-bottom: 2px solid darkblue;
}

/* AQUI ACABA EL ESTILO GENERAL*/



/* AQUI COMIENZA EL ESTILO DE LA CABECERA */

.cabecera{
    width: 0 auto;
    text-align: center;
    background-color: darkblue;
    color: white;
    font-size: 2em;
}

/*AQUI ACABA EL ESTILO DE LA CABECERA */



/* AQUI COMIENZA EL ESTILO DE LATERAL */

div.lateral{
    background-color: darkblue;
    width: 10%;
    float: left;
}

.logo{
    background-color: white;
    width: 100%;
    text-align: center;
}

.logo img{
    height: 100px;
}

.lateral ul{
    color: yellow;
}

/* AQUI ACABA EL ESTILO DE LATERAL */



/* AQUI COMIENZA EL ESTILO DEL PIE DE PAGINA */

.pie{
    padding-right: 1%;
    justify-content: right;
    display: flex;
    width: 99%;
    color: yellow;
    background-color: darkblue;
    position:relative;
    bottom: 0px;
}


/*AQUI ACABA EL ESTILO DEL PIE DE PAGINA */



/* AQUI COMIENZA EL ESTILO DEL HTML CONSTRUCCION */

.tituloaviso{
    font-size: 2em;
}

.central .aviso{
    border:double red;
    background-color: lightcyan;
}

/*AQUI ACABA EL ESTILO DEL HTML CONSTRUCCION*/
