div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dotted 0.1em black;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}

/* AQUI COMIENZA EL ESTILO DEL HTML CONSTRUCCION */

body{
    background-color: lightgrey;
}

.cabecera{
    width: 0 auto;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 2em;
}

div.lateral{
    background-color: blue;
    width: 10%;
    float: left;
}

.logo{
    background-color: white;
    width: 100%;
    text-align: center;
}

.logo img{
    height: 100px;
}

ul{
    color: yellow;
}

ol li a{
    text-decoration: none;
    color: white;
}

.central{
    background-color: lightcyan;
    
    margin: 0;
    margin-left: 1%;
    float:left;
    width: 88%;
}

.central .aviso{
    border:double red;
    text-align: center;
}

.tituloaviso{
    font-size: 2em;
}

.pie{
    padding-right: 1%;
    justify-content: right;
    display: flex;
    width: 100%;
    color: yellow;
    background-color: blue;
    position:relative;
    bottom: 0px;
}

/*AQUI ACABA EL ESTILO DEL HTML CONSTRUCCION*/

