div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dotted 0.1em black;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}



/* AQUI COMIENZA EL ESTILO GENERAL*/

body{
    background-color: lightgrey;
}

.cabecera{
    width: 0 auto;
    text-align: center;
    background-color: darkblue;
    color: white;
    font-size: 1.5em;
}

.central{
    position: relative;
    display: inline-block;
    width: 78%;
    margin: 0;
    margin-left: 1%;
}

.cuaderno{
    background-color:lightyellow ;
    padding: 10px;
}

.central h2{
    background-color:lightcyan;
    border: 5px double darkblue;
    color: darkblue;
    padding: 10px;
    text-align: center;
}

.areaLimpia{
    float: right;
    background-color:lightyellow;
}

.tablaContenido ol li a{
    text-decoration: none;
    color: darkblue;
}

.tablaContenido ol li a:hover{
    color: blue;
}

.tablaContenido{
    margin: 20px;
    padding: 10px;
    background-color: white;
    text-align: left;
    border: 5px dashed darkblue;
}

h3{
    margin-left: 20px;
    margin-right: 20px;
    color: darkblue;
    text-align: left;
    border-bottom: 2px solid darkblue;
}

.bloqueexplicacion{
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
}

h4{
    color:darkblue;
}

.salidapantalla{
    background-color: black;
    color: green;
    border: 4px double yellow;
    margin: 10px;
    overflow: hidden;
}

.salidapantalla pre{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.pie{
    margin-top: 10px;
    padding-right: 1%;
    justify-content: right;
    display: flex;
    width: 99%;
    color: yellow;
    background-color: darkblue;
    position:relative;
    bottom: 0px;
}

/* AQUI ACABA EL ESTILO GENERAL*/



/* AQUI COMIENZA EL ESTILO DE LATERAL */

div.lateral{
    background-color: darkblue;
    width: 20%;
    float: left;
}

.lateral ol li a{
    text-decoration: none;
    color: white;
}

.lateral ol li a:hover{
    color: grey;
}

.logo{
    background-color: white;
    width: 100%;
    text-align: center;
}

.logo img{
    height: 100px;
}

.lateral ul{
    color: yellow;
}

/* AQUI ACABA EL ESTILO DE LATERAL */



/* AQUI COMIENZA EL ESTILO DEL HTML CONSTRUCCION */

.tituloaviso{
    font-size: 3em;
    z-index: 1;
}

.tituloaviso::after, .tituloaviso::before{
    content:url("imagenes/construccion.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 100;
}

.central .aviso{
    text-align: center;
    border:double red;
    background-color: lightcyan;
}

/*AQUI ACABA EL ESTILO DEL HTML CONSTRUCCION*/



/*AQUI COMIENZA EL ESTILO DE INDEX*/

dt{
    font-weight: bold;
}

.codigo{
    color: white;
    background-color: dodgerblue;
    border: 4px double darkblue;
}

.codigo pre{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.figura{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid blue;
    overflow: hidden;
}

.figura img{
    max-width: 100%;
}

.ecuacion{
    text-align: center;
}

.identificadorExp{
    background-color: lightgreen;
    border: 6px solid darkblue;
    color: darkblue;
    padding: 2px;
    font-size: 1em;
    display: inline-block;
    margin: 8px;
}

.identificadorEje{
    background-color: orange;
    border: 6px solid darkblue;
    color: darkblue;
    padding: 2px;
    font-size: 1em;
    display: inline-block;
    margin-right: 8px;
}

.identificadorPro{
    background-color: yellow;
    border: 6px solid darkblue;
    color: darkblue;
    padding: 2px;
    font-size: 1em;
    display: inline-block;
    margin: 8px;
}

a{
    text-decoration: none;
    color: red;
}

a:hover{
    color: darkred;
}

/*AQUI ACABA EL ESTILO DE INDEX*/