header{
    text-align: center;
}

.centro{
    text-align: center;
}

.DWEC{
background-color: blue;
}

span.DWEC:hover {
    background-color: yellow;
}

span.DWEC:hover ~ table tr td.DWEC  {
    background-color: yellow;
}

.DWES{
background-color: brown;
}

span.DWES:hover{
    background-color: yellow;
}

span.DWES:hover ~ table tr td.DWES {
    background-color: yellow;
}

.DII{
background-color: cyan;
}

span.DII:hover{
    background-color: yellow;
}

span.DII:hover ~ table tr td.DII{
    background-color: yellow;
}

.DAW{
background-color: burlywood;
}

span.DAW:hover{
    background-color: yellow;
}

span.DAW:hover ~ table tr td.DAW{
    background-color: yellow;
}

.HLC{
background-color: chartreuse;
}

span.HLC:hover{
    background-color: yellow;
}

span.HLC:hover ~ table tr td.HLC{
    background-color: yellow;
}

.EIE{
background-color: grey;
}

span.EIE:hover{
    background-color: yellow;
}

span.EIE:hover ~ table tr td.EIE{
    background-color: yellow;
}

.tabla{
    width: 100%;
}

.pColumna{
    width: 8%;
}

.tabla tr{
    height: 100px;
}

.tabla, th, td{
    border: 1px solid black;
}